name: Master Android Builder
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Build Android
        run: |
          npm install -g cordova
          cordova create myapp com.kashmirit.app KashmirApp
          cp public/index.html myapp/www/
          cd myapp
          cordova platform add android
          cordova build android --release
          cordova build android --release -- --packageType=bundle
      - name: Upload APK and AAB
        uses: actions/upload-artifact@v3
        with:
          name: Kashmir-IT-Builds
          path: |
            myapp/platforms/android/app/build/outputs/apk/release/*.apk
            myapp/platforms/android/app/build/outputs/bundle/release/*.aab
